
   
      .card-header{
        padding: 20px;

        border-radius: 25px;
        font-size: large;
        color:rgb(33, 33, 86);
        padding-left: 5%;
        padding-top: 1%;   
        padding-bottom: 1%;        
        font-weight: 900;

        background-color: #7d7de0;
      }
      .card-body{
        padding: 20px;

        border-radius: 25px;
        padding-top: 3%;   
        padding-bottom: 1%; 
        padding-left: 15%;
        padding-right: 15%;

        font-size: medium;
        font-weight: 600;
      background-color: rgb(204, 203, 229);
      color: rgb(43, 43, 107);
      padding: auto;

       }
       .btn{
       
        margin-left: 3%;
      }  
     
    .ng-valid[required], .ng-valid.required  {
        border: 2px solid #42A948; /* green */
      }
      
      .ng-invalid:not(form)  {
        border: 2px solid #c6211f; /* red */
      }