<div class="card-body">

<div class="row">


    <div class="profile-container ">

    <table style="width:100% ">
      <tr>
    
          <td><h1>SCHEDULE MEETING</h1></td>
          
          <td>   <img src="./assets/meeting.jpg" alt="Profile Picture"></td>

          <br>
         
      </tr>

  </table>
  <div class ="links">        <a routerLink="addMeeting">Add Meeting</a><br><br> <a routerLink="viewMeetings">Scheduled Meetings</a> </div>

  
  
    
  <!-- </form> -->

</div>
<div><router-outlet></router-outlet></div>